*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 25vh;
    font-size: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;   
    background-color: #0d81e0;
    border: 1px solid #050505;
    margin-bottom: 1%;
}

main{
    width: 90%;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#contenedor-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.contenedor-main_Pasteleria,.contenedor-main_Pastas ,.contenedor-main_Sandwicheria,.contenedor-main_Flanes {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    text-align: center;    
    
}


.imagen-Pasteleria{
    width: 100%;
    height: 100%;
    background-image: url('../img/Pasteleria.jpeg');
    background-size: cover;
    border: 1px solid #000;
}
.imagen-Pastas{
    width: 100%;
    height: 100%;
    background-image: url('../img/Pastas.jpeg');
    background-size: cover;
    border: 1px solid #000;
}
.imagen-Sandwicheria{
    width: 100%;
    height: 100%;
    background-image: url('../img/Sandwich.jpeg');
    background-size: cover;
    border: 1px solid #000;
}
.imagen-Flanes{
    width: 100%;
    height: 100%;
    background-image: url('../img/Flanes.jpeg');
    background-size: cover;
    border: 1px solid #000;
}
#Pasteleria,#Pastas,#Sandwicheria,#Flanes{
    margin: 0 5% 5% 5%;
}

button{
    width: 100%;
    height:12vh;    
    padding: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #e6a4a4;
    font-family: 'Lora', serif;
    font-weight: bold;
}
button a{
    text-decoration: none;
    color: #000;
}
button:hover{
    background-color: #d4d4d4;
}
button#btn-reinicio {
    width: 10%;
    height:5vh;     
    font-size: 1em;    
    border: none;
    border-radius: 5px;
    background-color: #989b9c;
    
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8em;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
        align-items: center;

}
a{
    color: #fff;
}
#recetas-container_cuadraditos{
    width: 20%;
   
}
@media screen and (max-width: 320px) {
    button#btn-reinicio {        
    font-size: 0.5em; 
    }
}
